.cabecalho{
    display: flex;
    height: 100px;
    background-color: rgb(165, 104, 114);
    
}
.imagem{
    width:80px;
    height:80px;
    

}

.carrinho{
    width:20px;
    height:20px;
    

}
